
.transpparent{
    background-color:rgb(255 69 0 / 0%)
}

.link{
    color: rgb(255 69 0 ) !important;
    font-weight: 500 !important;
    font-size: small !important;
  }

  .link > a{
    color: rgb(255 69 0) !important;
    font-weight: 500 !important;
    font-size: small !important;
  
  }

  .brand{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .brandImg{
    width: 60px;
    height: 60px;;
  }

  .school{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
  }
  .name{
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(255 69 0 );
  }
  .location{
    font-size: 0.8rem;
    font-weight: 200;
    color: rgb(255 69 0);
  }
 /* Navbar on Scroll */
  .navbarScrolled {
    background-color:#FFF;
    transition: background-color 600ms linear;

  }
  .navbarBrandScrolled{
    display: flex;
    flex-direction: row;
    align-items: left;
  }

  .navbarBrandImgScrolled{
    width: 60px;
    height: 60px;;
  }

  a:hover{
    color: rgb(255 69 0) !important;
    transition: color 300ms linear;
    transition: font-weight 600ms linear;
  }


  @media (max-width: 1199px) {
    .brandImg{
        width: 60px;
        height: 60px;;
      }

      .name{
        font-size: 1.2rem;
        font-weight: bold;
      }
      .header{
        
        background-color:#FFF
    }
    .link > a{
      color: rgb(255 69 0 ) !important;
      font-weight: 500 !important;
      font-size: small !important;
    }
  
    
  }

  @media (min-width: 1200px) {
    .link{
     
      border-right: 1px solid  #FFF!important;

    }

  }

/* CustomTabs.module.css */

.customTabs{
  flex-direction: column !important;
  border-right: 2px solid orange !important;
  width: 160px !important;
  font-size: small !important;

}
.customTabs button {
  border: none !important;
}

/* .customTabs ul {
  border-right:2px solid orange !important;
} */


