.navbarCard{
    display: flex;
      width: 800px;
      height: 300px;
      flex-direction: row;
      position: fixed;
      z-index: 11;
      color: white;
      top: 90px;
      background-color: #FFF;
      right: 150px;
  }

  .navbarCardList{
    display: flex;
    flex-direction: column;
   padding: 20px 0px;
   color: black;
   border-right: 3px solid orange;
   width: 200px;
  }

  .navbarCardList div{
    padding: 10px 20px;
  }
  .navbarCardList div:hover{
    background-color: orange;
    color:#FFF;
  }
  

.active{
    
    color: orange;
    font-weight: bold;
    border-left:2px solid orange;
}