.navbarCardContent {
    display: flex;
    flex-direction: row;
    padding: 20px;
    width: 600px;
    color: black;
    justify-content: space-between;
    height: 300px;
  
}

.textContent{
    display: flex;
    flex-direction: column;

}

.desc{
    margin: 20px 20px 0px 0px;
    font-size: small;
}

.imageContent{
    display: flex;
     align-items: center;
}


.customButton{
    border:2px solid orange !important;
    color :#000 !important;
    background-color: #FFF !important;
    transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease, transform 0.3s ease !important;
}

.customButton:hover{
    border:2px solid orange !important;
    background-color: orange !important;
    color: #FFF !important;
    transition: background-color 0.3s ease, color 0.3s ease, border 0.3s ease, transform 0.3s ease !important;
    transform: translateX(2px);
}
